.yesNoDelivery {
  margin-bottom: 40px;
}

#mainPage {
  display: none;
}

#addressEntry {
  display: none;
  margin-top: 50px;
}

#customerOrderResult {
  margin-top: 40px;
  display: none;
  font-size: 25px;
}

 #pizzaDelivery {
  margin-top: 40px;
 }

#deliveryDivFinal {
  display: none;
}
